<mat-card class="container">
  <div class="carousel-title">{{ title }}</div>
  <div>
    <swiper
      id="container"
      [config]="config"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      *ngIf="advs"
    >
      <ng-template swiperSlide *ngFor="let adv of advs">
        <app-adv-overview
          class="adv-overview"
          [advId]="adv.advId"
          [bookTitle]="adv.bookTitle"
          [bookAuthor]="adv.bookAuthor"
          [sellerUsername]="adv.sellerUsername"
          [advLocation]="adv.advLocation"
          [advPublDate]="adv.advPublDate"
          [advPrice]="adv.advPrice"
          [bookCoverUrl]="adv.bookCoverUrl"
        ></app-adv-overview>
      </ng-template>
    </swiper>
  </div>
</mat-card>
