<mat-toolbar>
  <div class="toolbar-stack">
    <div class="toolbar-buttons">
      <span><a mat-button href="">Contact</a></span>
      <span><a mat-button href="">Market</a></span>
      <span class="example-spacer"></span>
    </div>
    <div>
      <p class="mat-caption">©2021 Informational Technology Assembly</p>
    </div>
  </div>
  <span class="spacer"></span>
  <div class="buttons-social">
    <span
      ><a href="https://www.facebook.com/GoIvanti/"
        ><img class="footer-logos" src="assets/facebook.png" /></a
    ></span>
    <span
      ><a href="https://www.youtube.com/c/Ivanti"
        ><img class="footer-logos" src="assets/youtube.png" /></a
    ></span>
    <span
      ><a href="https://twitter.com/goivanti"
        ><img class="footer-logos" src="assets/twitter.png" /></a
    ></span>
  </div>
</mat-toolbar>
