<mat-card class="login-card">
  <form
    *ngIf="!isRegistered"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
    novalidate
  >
    <label class="form-title">Register</label>
    <mat-form-field class="form-field" appearance="fill" hideRequiredMarker>
      <mat-label>Username</mat-label>
      <input
        required
        minlength="5"
        maxlength="30"
        matInput
        [(ngModel)]="form.username"
        name="username"
        #username="ngModel"
        placeholder="john.doe"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="username.errors?.required && username.touched">
        Username is required
      </mat-error>
      <mat-error *ngIf="username.errors?.minlength">
        Username too short (min 5 characters)
      </mat-error>
      <mat-error *ngIf="username.errors?.maxlength">
        Username too long (max 30 characters)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill" hideRequiredMarker>
      <mat-label>E-mail</mat-label>
      <input
        required
        minlength="5"
        maxlength="255"
        matInput
        [(ngModel)]="form.email"
        name="email"
        #email="ngModel"
        placeholder="my.email@domain.com"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="email.errors?.required && email.touched">
        E-mail is required
      </mat-error>
      <mat-error *ngIf="email.errors?.minlength">
        E-mail too short (min 5 characters)
      </mat-error>
      <mat-error *ngIf="email.errors?.maxlength">
        E-mail too long (max 255 characters)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill" hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input
        required
        minlength="5"
        maxlength="64"
        matInput
        type="password"
        [(ngModel)]="form.password"
        name="password"
        #password="ngModel"
        placeholder="******"
      />
      <mat-icon matSuffix>password</mat-icon>
      <mat-error *ngIf="password.errors?.required && password.touched">
        Password is required
      </mat-error>
      <mat-error *ngIf="password.errors?.minlength">
        Password too short (min 5 characters)
      </mat-error>
      <mat-error *ngIf="password.errors?.maxlength">
        Password too long (max 64 characters)
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill" hideRequiredMarker>
      <mat-label>Repeat Password</mat-label>
      <input
        required
        minlength="5"
        maxlength="64"
        matInput
        type="password"
        [(ngModel)]="form.passwordCheck"
        name="passwordCheck"
        #passwordCheck="ngModel"
        placeholder="******"
      />
      <mat-error
        *ngIf="passwordCheck.errors?.required && passwordCheck.touched"
      >
        You have to reinsert your password
      </mat-error>
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" name="register-btn">
        Register
      </button>
    </mat-card-actions>
    <div class="alert" *ngIf="f.submitted && isRegistrationFailed">
      {{ errorMessage }}
    </div>
    <div class="alert" *ngIf="f.submitted && isPasswordMatchFailed">
      Password do not match!
    </div>
  </form>
  <div *ngIf="isRegistered">
    Successfully registered! <br /><br />
    Now you can <a routerLink="/login">login</a> to your account
  </div>
</mat-card>
