.login-card {
  width: 400px;
  margin: 50px auto;
  padding: 40px;
  padding-bottom: 20px;
}

.form-title {
  font-size: x-large;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 18px;
}

.alert {
  color: red;
}
