<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/marketplace">Advertisements</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <div class="header-container">
        <div class="logo-container">
          <!-- <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button> -->
          <a routerLink="/home">
            <label class="banner" value="banner">Read4Share</label>
          </a>
        </div>
        <div class="topbar-menu-container">
          <ng-container *ngIf="!isLoggedIn">
            <button
              class="login"
              mat-raised-button
              color="secondary"
              routerLink="/login"
            >
              Login
            </button>
            <button
              class="login"
              mat-raised-button
              color="secondary"
              routerLink="/register"
            >
              Register
            </button>
          </ng-container>
          <div *ngIf="isLoggedIn" class="icons-container">
            <!-- <label class="menu" *ngIf="showAdminBoard">(ADMIN)</label> -->
            <div class="icon-container">
              <mat-icon class="topbar-icon" aria-label="Post new advertisement"
                >sell</mat-icon
              >
              <label class="icon-text">Publish</label>
            </div>
            <div class="icon-container">
              <!-- TODO: Move logout to tooltip menu -->
              <mat-icon
                class="topbar-icon"
                aria-label="User account"
                (click)="onLogout()"
                >account_circle</mat-icon
              >
              <label class="icon-text">Account</label>
            </div>
            <div class="icon-container" routerLink="/chat">
              <mat-icon class="topbar-icon account-icon" aria-label="User chats"
                >chat_bubble</mat-icon
              >
              <label class="icon-text">Chat</label>
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
