<mat-card class="chats-container">
  <div class="title-container">
    <label class="title">Chats</label>
  </div>
  <div class="body-container">
    <mat-list
      *ngIf="chatPreviews | async as previews"
      class="chat-items-container"
      role="list"
    >
      <mat-list-item
        *ngFor="let preview of previews; let previewIndex = index; last as last"
        class="list-item pointer"
        role="listitem"
        [ngClass]="{ selectedChat: previewIndex == selectedChatIndex }"
        (click)="onSelectChat(previewIndex, preview)"
      >
        <div class="chat-item" name="chat-item">
          <div class="img-container">
            <div class="img-circle pointer">
              <a
                class="img-link pointer"
                [routerLink]="['/home/advs', preview.advId]"
              >
                <img
                  src="{{ preview.bookCoverUrl }}"
                  alt="{{ preview.bookTitle }}"
                  class="adv-img"
                />
              </a>
            </div>
          </div>
          <div class="chat-preview-info pointer">
            <div class="preview-book pointer truncate-line">
              {{ preview.bookTitle }}
            </div>
            <div class="preview-user pointer truncate-line">
              {{ preview.userName }}
            </div>
            <div style="display: none">{{ preview.userId }}</div>
            <div style="display: none">{{ preview.advId }}</div>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-divider [vertical]="true"></mat-divider>

    <div class="messages-container">
      <div class="message-list-container">
        <!-- if isSender, then align-items: flex-end -->
        <!-- <app-message
          class="message is-sender"
          [isSender]="true"
          [ngClass]="{ 'is-sender': true }"
          [message]="'Yeah it works'"
          [timestamp]="'2021-11-16T15:00:00'"
        ></app-message> -->
      </div>

      <div class="message-text-container">
        <div class="text-input-container">
          <mat-form-field class="text-input" appearance="outline">
            <textarea
              matInput
              type="text"
              placeholder="Enter your message"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [(ngModel)]="message"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="icon-container">
          <mat-icon
            class="send-icon"
            aria-label="Send message"
            (click)="onSendMessage()"
            >send</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
</mat-card>
